@font-face {
  font-family: 'AP-Roman';
  src: url('./../fonts/APType-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'AP-Roman';
  src: url('./../fonts/APType-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AP-Roman';
  src: url('./../fonts/APType-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AP-Roman';
  src: url('./../fonts/APType-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AP-Mono';
  src: url('./../fonts/APType-Mono.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
