#main-nav {
  mix-blend-mode: exclusion;
  color: white;
  z-index: 1000;

  .project-filter-link {
    sup {
      opacity: 0.3;
      font-weight: 400;
    }
  }

  a {
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }
}
